<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="/static/node_modules/xterm/css/xterm.css" />
    <script src="/static/node_modules/xterm/lib/xterm.js"></script>
    <script src="/static/script.js"></script>
    <title>Command Execution</title>
</head>

    <body style="background-color: gray;">
        <h1>Web Terminal</h1>
        <div id="terminal"></div>
    </body>
</html>
