<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Terminal</title>
    <style>
        body {
            margin: 0;
            font-family: 'Courier New', Courier, monospace;
            background-color: #1E1E1E;
            color: #FFFFFF;
            overflow: hidden;
            padding: 0;
        }

        #terminal {
            height: 100vh;
            width: 100%;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
    </style>
    <link rel="stylesheet" href="static/node_modules/xterm/css/xterm.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>
    <script src="static/node_modules/xterm/lib/xterm.js"></script>
    <script src="static/node_modules/xterm-addon-fit/lib/xterm-addon-fit.js"></script>
</head>
<body>
    <div id="terminal"></div>

    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        var term = new Terminal();
        var fitAddon = new FitAddon.FitAddon();

        term.loadAddon(fitAddon);
        term.open(document.getElementById('terminal'));
        fitAddon.fit();

        term.prompt = (prompt) => {
            term.write(`\r\n${prompt} `);
        };

        term.writeln('remotepi v0.1.0-POC.3');
        term.prompt();

        let currentInput = '';

        term.onKey(e => {
            const printable = !e.altKey && !e.altGraphKey && !e.ctrlKey && !e.metaKey;

            if (e.domEvent.keyCode === 13) {
                // Enter key
                const inputBytes = new TextEncoder().encode(currentInput);
                socket.emit('input', inputBytes);
                currentInput = '';  // Clear the current input for the next command
            } else if (e.domEvent.keyCode === 8) {
                // Backspace key
                if (currentInput.length > 0) {
                    currentInput = currentInput.slice(0, -1);
                    term.write('\b \b');
                }
            } else if (printable) {
                currentInput += e.key;
                term.write(e.key);
            }
        });

        socket.on('output', function (data) {
            // Split the output into lines
            const lines = data.output.split('\n');

            // Write each line to the terminal
            lines.forEach((line, index) => {
                term.writeln('\r' + line);
            });
        });
    </script>
</body>
</html>
